.text-center {
    text-align: center;
}

.dark-colour {
    background-color: #381f08 !important; 
    margin: 0 15px;
    padding: 15px;
    margin-top: -20px;
}

.blue-colour {
    background-color: #081338 !important;
    margin: 0 15px;
    padding: 15px;
    margin-top: -20px;
}
/* 
.makeStyles-cardIcon-133 {
    background: none;
    background-color: #081338 !important;
} */

.fixed-height {
    height: 400px !important;
}

.Component-root-133 {
    height: 330px !important;
}

.Component-root-128 {
    height: 250px !important;
}


.text-right {
    text-align: right;
    left: 10em;
    bottom: 3em;
    padding-left: 31em;
}