.recommendation {
    background-color: #eeeeee;
    background-size: cover;
    min-height: 100vh;
}

.recommendation-cards {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
}